@using Models.EntidadesDtos
@model PasswordDtos

<div class="modal fade" id="idModalPassWord" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel"></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" id="idFormPassWord">

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <input type="hidden" asp-for="Id" id="IdPassword" />

                    <div class="form-group row">
                        <div class="mb-3" id="SeccionAgregar">
                            <label for="idPasswordAnt" class="col-form-label">Contraseña Anterior:</label>
                            <input type="password" asp-for="PasswordAnterior" class="form-control" id="idPasswordAnt">
                            <span asp-validation-for="PasswordAnterior" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label for="idPasswordNew" class="col-form-label">Contraseña Nueva:</label>
                            <input type="password" asp-for="Password" class="form-control" id="idPasswordNew">
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>

                   
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-success" id="idGuardarPassword">Guardar</button>
            </div>
        </div>
    </div>
</div>