@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos..!</h1>
    <h2>Prueba Tecnica EY</h2>
    <h3>Ing. Jose Antonio Hernández Hernández</h3>
</div>
